{% extends 'master-page/master-page.html' %}
{% block jumbotron %}

    <div class="row">
        <div class="col-sm-12" align="center"><h2>Personaje {{ personaje.nickname }}</h2></div>
        <div class="col-lg-12"><br></div>
        <div class="col-lg-5 ">
        {% if userId != personaje.jugador.user_account.id %}
        <div class="col-lg-12"a="">
            <p class="lead"><a href="/player/player/show?playerId={{ personaje.jugador.user_account.id }}">Ver perfil del jugador</a> </p>
        </div>
        {% else %}
            <div class="col-lg-12"a="">
            <p class="lead"><a href="/player/profession/create?characterId={{ personaje.id }}">Añadir nueva profesión</a> </p>
        </div>
        {% endif %}
        <div class="col-lg-12"a="">
            <p class="lead">Nombre del personaje: {{ personaje.nickname }}</p>
        </div>
        <div class="col-lg-12"a="">
            <p class="lead">Clase: {{ personaje.clase }}</p>
        </div>
        <div class="col-lg-12"a="">
            <p class="lead">Funcion PVP: {{ personaje.pvp_funcion }}</p>
        </div>
        <div class="col-lg-12"a="">
            <p class="lead">Funcion PVE: {{ personaje.pve_funcion }}</p>
        </div>
        </div>
        <div class="col-lg-7"a="">
            <span><p class="lead">Equipo: {{ personaje.equipo }}</p></span>
        </div>

        {% if applys|length > 0 %}
            <div class="col-sm-12" align="center"><h2>Applys realizados</h2></div>
            <div class="col-lg-12"><br></div>
            {% for apply in applys %}
                <div class="col-lg-12">
                    <p class="lead">Nombre de la hermandad: <a href="/player/guild/show?guildId={{ apply.hermandad.id }}">{{ apply.hermandad.nombre }}</a></p>
                </div>
                <div class="col-lg-12"><p class="lead">Estado: {{ apply.estado }} {% if apply.estado != 'Aceptado'%}-- <a href="/player/apply/delete?applyId={{ apply.id }}">Borrar apply</a>{% endif %}</p></div>
                <div class="col-lg-12"><p class="lead">Fecha de envio: {{ apply.fecha_apply }}</p></div>
                <div class="col-lg-12"><br></div>

            {% endfor %}
        {% endif %}
    </div>
        {% if profesiones|length > 0 %}
        <h2 class=" text-center">Profesiones</h2>
        <div class="row" align="center">
        <div class="col-lg-12"><br></div>
        <table class="table table-striped table-hover">
        <tr class="info">
            <td><strong>Nombre</strong></td>
            <td><strong>Nivel</strong></td>
            {% if userId == personaje.jugador.user_account.id %}<td><strong>Editar</strong></td>{% endif %}
        </tr>
        <tbody>
        {% for profesion in profesiones %}
            <tr>
                <td>{{ profesion.nombre }}</td>
                <td>{{ profesion.nivel }}</td>
                {% if userId == personaje.jugador.user_account.id %}<td><a href="/player/profession/edit?professionId={{ profesion.id }}">Editar</a></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
            {% endif %}


{% endblock %}