{% extends 'master-page/master-page.html' %}
{% load i18n %}
{% block title %} Mis personajes {% endblock %}
{% block jumbotron %}
    <p>
    <h1 align="center">Mis personajes</h1>
    <br>
    <br>
    <table class="table table-striped table-hover">
        <tr class="info">
            <td><strong>Nickname</strong></td>
            <td><strong>Clase</strong></td>
            <td><strong>Funcion PVE</strong></td>
            <td><strong>Funcion PVP</strong></td>
            <td><strong>Ver hermandad</strong></td>
        </tr>
    <tbody>
    {% for personaje in personajes %}
        <tr>
            <td><a href="/player/character/show?characterId={{ personaje.id }}">{{ personaje.nickname }}</a></td>
            <td>{{ personaje.clase }}</td>
            <td>{{ personaje.pve_funcion }}</td>
            <td>{{ personaje.pvp_funcion }}</td>
            {% if personaje.hermandad.id != None %}
                <td><a href="/player/guild/show?guildId={{ personaje.hermandad_id }}">Ver hermandad</a></td>
            {% else %}
                 <td>Sin hermandad</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>

    </p>

    <ul class="pagination">
        {% if personajes.number > 1 %}
            <li class=""><a href="?page={{ personajes.previous_page_number }}">«</a></li>
        {% else %}
            <li class="disabled"><a href="#">«</a></li>
        {% endif %}
        {% for numero in numpages %}
            {% if personajes.number  == numero %}
                <li class="active"><a href="?page={{ numero }}">{{ numero }}</a></li>
            {% else %}
                <li class="disable"><a href="?page={{ numero }}">{{ numero }}</a></li>
            {% endif %}
        {% endfor %}
        {% if personajes.number < personajes.paginator.num_pages %}
            <li class=""><a href="?page={{ personajes.next_page_number }}">»</a></li>
        {% else %}
            <li class="disabled"><a href="#">»</a></li>
        {% endif %}
    </ul>
{% endblock %}